export(ltsk)
export(dnb)
importFrom(fields,rdist)
importFrom(fields,quilt.plot)
importFrom("stats", "aggregate", "approxfun", "coef", "deviance","dist", "lm", "na.omit", "nobs", "runif", "sd", "var")
importFrom("stats", "as.formula","as.dist")
import(parallel)
import(gstat)
import(sp)
import(RANN)
useDynLib(ltsk,.registration = TRUE)
